::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(255,0,0,0.8); 
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}




.head {
height: 70px;
position: fixed;
top: 0;
left: 0;
right: 0;
/*line-height: 40px;
border: 1px solid black;
color: #AEAEAE;
-moz-text-shadow: 0px 1px 0px #000000;
-webkit-text-shadow: 0px 1px 0px #000000;
-o-text-shadow: 0px 1px 0px #000000;
text-shadow: 0px 1px 0px black;
z-index: 9999;*/
background: url(resources/images/top.png);
}


.container {

background: url(resources/images/grid16.png);

}

.x-panel-header {
  padding: 6px 6px 6px 6px;
  border: 0 solid #e0e3e6;
  border-bottom-width: 0; 

  }


.x-panel-header-default {
  border-color: #a8b0b8;
  border-width: 0;
  border-style: solid;
  border-width: 0;
  background: #70bf32;
  background: -moz-linear-gradient(top, #f2f2f2, #eaeaea);
  background: -ms-linear-gradient(top, #f2f2f2, #eaeaea);
  background: -o-linear-gradient(top, #f2f2f2, #eaeaea);
  background: -webkit-linear-gradient(top, #f2f2f2, #eaeaea);
  background: linear-gradient(top, #f2f2f2, #eaeaea);
}

.x-panel-header-text {
  color: #B0B0B0;
  font-size: 12px;
  font-weight: bold;
  text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
  font-family: "Helvetica Neue", Arial, Verdana, sans-serif; }

.x-panel-body-default {
  background: #EEEEEE;
  margin: 0;
  color: #333333; }



.sidebar {
position: fixed;
z-index: 3;
top: 42px;
left: 0;
bottom: 0;
width: 240px;
-moz-text-shadow: 0px 1px 0px #000000;
-webkit-text-shadow: 0px 1px 0px #000000;
-o-text-shadow: 0px 1px 0px #000000;
text-shadow: 0px 1px 0px black;
background-color: #494949;
border-right: 1px solid #1B1B1B;
-moz-box-shadow: inset -5px 0 5px #404040;
-webkit-box-shadow: inset -5px 0 5px #404040;
-o-box-shadow: inset -5px 0 5px #404040;
box-shadow: inset -5px 0 5px #404040;
}

.menu_text{
  color: #888888;
  font-size: 11px;
  font-weight: bold;
  text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
  font-family: "Helvetica Neue", Arial, Verdana, sans-serif; 
}


.divMemu{
  color: #888888;
  font-size: 9px;
  font-weight: normal;
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,1);
  font-family: Arial, Arial, Verdana, sans-serif; 
  margin-left: 10px;
  margin-top: 5px;
}

.page{
	background-color: #ffffff;
	-moz-box-shadow: 0 0 5px 5px #ccc;
  -webkit-box-shadow: 0 0 5px 5px#ccc;
  box-shadow: 0 0 5px 5px #ccc;
}


.body {
  background-color: #e4eaed;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, #f3f6f7), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 0% 50%, 1 50%, color-stop(100%, #f3f6f7), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(243, 246, 247, 0))), -webkit-gradient(linear, 0% 50%, 1 50%, color-stop(100%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(243, 246, 247, 0)));
  background-image: -webkit-linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
  background-image: -moz-linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -moz-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
  background-image: -o-linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -o-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
  background-image: -ms-linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), -ms-linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
  background-image: linear-gradient(top, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(left, #f3f6f7 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(top, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px), linear-gradient(left, rgba(255, 255, 255, 0.3) 1px, rgba(243, 246, 247, 0) 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px, -2px, -2px, -2px;
}


.lines{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.lines1{
  border-top: 1px solid #ccc;
  width: 100%;
}

.lines1Over{
  border-top: 1px solid #0066cc;
  width: 100%;
}


.lines2{
  border-top: 0px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.x-btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 6px 4px 6px;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #1369ae;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2591e8), color-stop(3%, #1574c0), color-stop(100%, #115d9b));
  background-image: -webkit-linear-gradient(top, #2591e8, #1574c0 3%, #115d9b);
  background-image: -moz-linear-gradient(top, #2591e8, #1574c0 3%, #115d9b);
  background-image: -o-linear-gradient(top, #2591e8, #1574c0 3%, #115d9b);
  background-image: -ms-linear-gradient(top, #2591e8, #1574c0 3%, #115d9b);
  background-image: linear-gradient(top, #2591e8, #1574c0 3%, #115d9b); }

  .x-btn-inner {
  font-size: 12px;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
  color: #f4fafe;
  background-repeat: no-repeat;
  padding: 0 3px;
  text-shadow: #0e4d80 0 -1px 0; }


.x-rz{
    z-index: 100;
}

.x-rz .x-resizable-handle{
    width:11px;
    height:11px;
    background:transparent url(resources/images/square.gif) no-repeat;
    margin:0px;
}

.x-rz .x-resizable-handle-west, .x-rz  .x-resizable-handle-east{
    top: 50%;
    margin-top: -5px;
}
.x-rz  .x-resizable-handle-north, .x-rz .x-resizable-handle-south{
    left: 50%;
    margin-left: -5px;
}

.x-rz  .x-resizable-handle-east, .x-rz  .x-resizable-handle-northeast, .x-rz  .x-resizable-handle-southeast{
  right: -11px;
}
.x-rz  .x-resizable-handle-west, .x-rz .x-resizable-handle-northwest, .x-rz .x-resizable-handle-southwest{
    left: -11px;
}

.x-rz  .x-resizable-handle-north, .x-rz .x-resizable-handle-northeast, .x-rz .x-resizable-handle-northwest{
    top: -11px;
}
.x-rz  .x-resizable-handle-south, .x-rz .x-resizable-handle-southeast, .x-rz .x-resizable-handle-southwest{
    bottom: -11px;
}


/*


.x-btn .x-resizable-handle {
  position: absolute;
  z-index: 100;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }


.x-btn .x-resizable-handle-east {
  width: 6px;
  height: 100%;
  right: 0;
  top: 0; }


.x-btn .x-resizable-handle-south {
  width: 100%;
  height: 6px;
  left: 0;
  bottom: 0; }


.x-btn .x-resizable-handle-west {
  width: 6px;
  height: 100%;
  left: 0;
  top: 0; }


.x-btn .x-resizable-handle-north {
  width: 100%;
  height: 1px;
  left: 0;
  top: 0; 
background-color:#0066cc;}


.x-resizable-proxy {
  border: 1px dashed #3b5a82;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 50000; }


.x-resizable-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 200000;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }*/